/* Styles Généraux */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
}
/* medhi */

/* Thibaud */

/* nicolas */


/* Styles header */

/* Styles main */

/* Styles présentation */
.presentation {
    display: block;
}
.photochef {
    width: 25%;
    float: left;
}
.presentation h1 {
    text-align: right;
}
.presentation p {
    font-size: 23px;
    text-align: right;
}


/* Styles plats et explications */

/* Styles adresse et plan */

/* Styles formulaire de contact */

/* Styles footer */